<div class='user-card'> 
  <img src=<%= @user.photo %> alt="profile picture" class="user-photo">
  <h2><%= @user.name %></h2>
  <p>Number of posts: <%= @user.posts_count.nil? ? 0 : @user.posts_count %></p>
</div>